.card_wrapper{
  transform: rotate(180deg);
  display: flex;
  flex-flow: row;
}

.space{
  flex: 2 2 0;
}

.send{
  /*float:right;*/
  background-color: #13C478;
}

.received{
  /*float:left;*/
  background-color: grey;
}

.message{
  flex: 7 7 0;
  color: white;
  padding: 2px;
  text-align: left;
  margin: 8px;
  border-radius: 4px;
}
.message p{
  padding: 6px;
  margin: 2px;
}

.card_wrapper small{
  float: right;
  padding-right: 4px;
  padding-bottom: 2px;
  font-size: 12px;
  color: #addfb6;
}

.send small{
  color: #addfb6;
}

.received small{
  color: #a0a0a0;
}
