.router-link-exact-active{
  color: #868686;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#split {
  background: #ccc;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0;
}

@media (min-width: 550px) {
  #split {
    padding: 0 1rem;
  }
}
.branding {
  flex: 0 1 100%;
}
.branding h1 {
  margin: 0;
  color: #868686;
}

@media (min-width: 550px) {
  .branding {
    flex: 0 1 40%;
  }
}
@media (min-width: 1300px) {
  .branding {
    flex: 0 1 75%;
  }
}
nav {
  flex: 0 1 100%;
}
nav a {
  color: white;
  text-decoration: none;
}

nav p:hover {
  color: rgba(255, 255, 255, 0.7);
}
nav ul {
  white-space: nowrap;
  list-style: none;
  padding: 0;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 550px) {
  nav {
    flex: 0 1 40%;
  }
  nav ul {
    justify-content: space-around;
  }
  nav li {
    padding-left: 1%;
    /*justify-content: space-around;*/
  }
}
@media (min-width: 1300px) {
  nav {
    flex: 0 1 25%;
  }
}
.button {
  display:table;
  background: #13C478;
  height: 40px;
  width: 68px;
  color: white;
  border-radius: 6px;
}

.button > a{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.button:hover {
  background: #14CC7C;
  cursor: pointer;
}
