.card{
  margin: none;
  margin: 4%;
  display: flex;
  flex-flow: column;
  border-radius: 4px;
  background-color: #e6e6e6;
  border: 1px solid grey;
}

.name p{
  margin: auto;
  color: #868686;
  font-family: sans-serif;
  text-align: center;
}

.name p span{
  display: block;
}

.name{
  flex: 4 4 0;
  min-height: 40px;
  display: flex;
}

.acceptBTN{  
  background-color: #13C478;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  display: flex;
}

.acceptBTN a{
  text-decoration: none;
  color:  white;
  text-align: center;
  flex: 1 1 0;
}
